<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="../css/crud.css">
    <link rel="icon" type="image/x-icon" href="./storage/img/MVC.webp">
    <script defer type="module" src="./js/module/index.js"></script>
    <title>MVC</title>
</head>
<body>
    <body>
        <span class="message">MVC by express</span>
        <div class="container">
            <div class="admin-product-form-container">
                 <form id="myForm" action="/user/v1" method="POST"> <!-- enctype="multipart/form-data" -->
                    <h3>add a new info</h3>
                    <input type="number" placeholder="Enter the user code" name="codigo" class="box">
                    <input type="text" placeholder="Enter the username" name="nombre" class="box">
                    <input type="text" placeholder="Enter the user's last name" name="apellido" class="box">
                    <input type="text" placeholder="Enter the user's nickname" name="nick" class="box">
                    <input type="email" placeholder="Enter the user's email" name="corro_electronico" class="box">
                    <input type="number" placeholder="Enter the user's phone number" name="telefono" class="box">
                    <input type="rol" placeholder="Enter the user role" name="rol" class="box">
                    <!-- <input type="file" accept="image/png, image/jpeg, image/jpg" name="product_image" class="box"> -->
                    <input type="submit" class="btn" name="add" value="add">
                </form>
            </div>
            <div class="product-display">
                <table class="product-display-table">
                    <thead>
                        <tr>
                            <td>Codigo</td>
                            <td>Name</td>
                            <td>Last name</td>
                            <td>Nick</td>
                            <td>Email</td>
                            <td>Phone</td>
                            <td>Rol</td>
                            <td>Accion</td>
                        </tr>
                    </thead>
                    <tbody id="myTbody">
                        <!-- <tr>
                            <td><img src="//" height="100" alt=""></td>
                            <td contenteditable></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="#" class="btn"> edit </a>
                                <a href="#" class="btn"> delete </a>
                            </td>
                        </tr> -->
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</body>
</html>