<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/logIn.css">
    <script src="../js/modules/logIn.js" defer type="module"></script>
</head>
<body>
    <img src="../storage/img/Star 8.svg">
    
    <section class="inputs_section">
        <div class="texts_section">
            <h3>Log in</h3>
        </div>
        <div class="password-container">
            <p>Email address</p>
            <input type="email" id="email" name="https://www.svgrepo.com/show/358477/check-circle.svg" placeholder="">
            <img src="https://www.svgrepo.com/show/91549/question-mark-inside-a-circle.svg" id="emailVerificator" class="toggle-icon">
        </div>
        <div class="password-container">
            <p>Password</p>
            <input type="password" id="password" name="password" placeholder="">
            <img src="https://www.svgrepo.com/show/532465/eye-slash.svg" id="togglePassword" class="toggle-icon">
            <p id="forgotPassword">Forgot password?</p>
        </div>
        
    </section>
    <section class="buttons_section">
        <button>Log in</button>
    </section>
    <section class="LogInMethods_section">
         <div class="division">
            <hr>
                <p>Or Login with</p>
            <hr>
         </div>
         <div class="buttons_div">
            <button><img src="https://www.svgrepo.com/show/303117/facebook-2-logo.svg" alt=""></button>
            <button><img src="https://www.svgrepo.com/show/452216/google.svg" alt=""></button>
            <button><img src="https://www.svgrepo.com/show/511330/apple-173.svg" alt=""></button>
         </div>
    </section>
    <section class="texts_section" id="footer">
        <p>Don’t have an account? <b><u id="termsAndConditions">Sign up</u></b></p>
    </section>
</body>
</html>