<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/openning.css">
    <script src="" defer type="module"></script>
</head>
<body>
    <img src="../storage/img/Illustration.svg">
    <section class="texts_section">
        <h3>Explore the app</h3>
        <p>Now your finances are in one place and always under control</p>
    </section>
    <section class="buttons_section">
        <a href="logIn"><button id="sign_in">Sign In</button></a>
        <a href="signUp"><button>Create account</button></a>
    </section>
</body>
</html>