<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/signUp.css">
    <script src="../js/modules/signUp.js" defer type="module"></script>
</head>
<body>
    <img src="../storage/img/Illustration.svg">
    <section class="texts_section">
        <h3>Create account</h3>
    </section>
    
    <section class="inputs_section">
        <form id="signUpForm" method="post">
        <input type="text" id="nick" name="nick" placeholder="Your Username">
        <input type="email" id="email" name="email" placeholder="Email address">
        <div class="password-container">
            <input type="password" id="password" name="password" placeholder="Password">
            <img src="https://www.svgrepo.com/show/532465/eye-slash.svg" id="togglePassword" class="toggle-icon">
        </div>
        <div class="password-container">
            <input type="password" id="confirm" name="confirm" placeholder="Confirm password">
            <img src="https://www.svgrepo.com/show/532465/eye-slash.svg" id="toggleConfirmPassword" class="toggle-icon">
        </div>
        </form>
    </section>
    <section class="buttons_section">
        <button form="signUpForm">Create account</button>
    </section>
    <section class="texts_section">
        <p>By creating an account or signing you agree to our <b><u id="termsAndConditions">Terms and Conditions</u></b></p>
    </section>
</body>
</html>